name: 'C++ CI'

on:
  push:
    branches:
      - main
      - feature/github_actions

jobs:
  build-windows:
    runs-on: windows-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3

      - name: Build project
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: file-windows
          path: build/Release/lab3.exe


  build-linux:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3

      - name: Build project
        run: |
          cmake -B build
          cmake --build build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: file-linux
          path: build/lab3


  create-release:
    needs: [build-windows, build-linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: file-windows
          path: dist/

      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: file-linux
          path: dist/

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/file-windows/lab3.exe
            dist/file-linux/lab3

          name: "Build ${{ github.sha }}"
          tag_name: "commit-${{ github.sha }}"
          body: "Automated release for commit ${{ github.sha }}"
          draft: false
          prerelease: false